<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <!-- MSI major versions are limited to 255. The public application/release version is 2026.07.16. -->
  <Package Name="SimpleBol 2026" Manufacturer="jKirkerx" Version="26.7.16" UpgradeCode="F4C98ED9-27DF-486F-9882-77768DA37E8F" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of SimpleBol 2026 is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLFOLDER]" After="CostFinalize" Sequence="both" />
    <Icon Id="SimpleBolIcon" SourceFile="$(var.SimpleBolIconPath)" />
    <Property Id="ARPPRODUCTICON" Value="SimpleBolIcon" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.EulaPath)" />
    <CustomAction Id="LaunchPrintNotifications" FileRef="PrintNotificationsExeFile" ExeCommand="--startup" Execute="immediate" Return="asyncNoWait" Impersonate="yes" />
    <CustomAction Id="StopPrintNotifications" Directory="INSTALLFOLDER" ExeCommand="&quot;[SystemFolder]taskkill.exe&quot; /IM SimpleBol.PrintNotifications.exe /T /F" Execute="deferred" Return="ignore" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="StopPrintNotifications" Before="RemoveFiles" Condition="(REMOVE=&quot;ALL&quot;) OR UPGRADINGPRODUCTCODE" />
      <Custom Action="LaunchPrintNotifications" After="InstallFinalize" Condition="NOT Installed" />
    </InstallExecuteSequence>
    <Feature Id="Main" Title="SimpleBol 2026" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentGroupRef Id="EmailTemplateFiles" />
      <ComponentGroupRef Id="StartMenuShortcuts" />
      <ComponentGroupRef Id="DesktopShortcuts" />
      <ComponentGroupRef Id="StartupShortcuts" />
    </Feature>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="SimpleBol 2026">
        <Directory Id="AssetsFolder" Name="Assets">
          <Directory Id="EmailTemplatesFolder" Name="EmailTemplates" />
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="SimpleBol 2026" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="StartupFolder" />
    <ComponentGroup Id="ApplicationFiles" Directory="INSTALLFOLDER">
      <Component Id="SimpleBolExe">
        <File Id="SimpleBolExeFile" Source="$(var.AppPublishDir)\SimpleBol.exe" KeyPath="yes" />
      </Component>
      <Component Id="PrintNotificationsExe">
        <File Id="PrintNotificationsExeFile" Source="$(var.NotificationsPublishDir)\SimpleBol.PrintNotifications.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="EmailTemplateFiles" Directory="EmailTemplatesFolder">
      <Component Id="BolBillingIssueTemplate">
        <File Id="BolBillingIssueTemplateFile" Source="$(var.AppPublishDir)\Assets\EmailTemplates\bolBillingIssueToShipper.html" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent">
        <Shortcut Id="SimpleBolStartMenuShortcut" Name="SimpleBol 2026" Target="[#SimpleBolExeFile]" WorkingDirectory="INSTALLFOLDER" Icon="SimpleBolIcon" />
        <Shortcut Id="PrintNotificationsStartMenuShortcut" Name="SimpleBol 2026 Print Notifications" Target="[#PrintNotificationsExeFile]" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\jKirkerx\SimpleBol 2026" Name="StartMenuShortcuts" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="DesktopShortcuts" Directory="DesktopFolder">
      <Component Id="DesktopShortcutComponent">
        <Shortcut Id="SimpleBolDesktopShortcut" Name="SimpleBol 2026" Target="[#SimpleBolExeFile]" WorkingDirectory="INSTALLFOLDER" Icon="SimpleBolIcon" />
        <RegistryValue Root="HKCU" Key="Software\jKirkerx\SimpleBol 2026" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="StartupShortcuts" Directory="StartupFolder">
      <Component Id="PrintNotificationsStartupComponent">
        <Shortcut Id="PrintNotificationsStartupShortcut" Name="SimpleBol 2026 Print Notifications" Target="[#PrintNotificationsExeFile]" WorkingDirectory="INSTALLFOLDER" Arguments="--startup" />
        <RegistryValue Root="HKCU" Key="Software\jKirkerx\SimpleBol 2026" Name="PrintNotificationsStartup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Package>
</Wix>
